body {
  background: #293b61;
  font-family: "Spectral";
  letter-spacing: 6px;
  padding: 60px;
  color: #becce8;
  border: 1px solid #020c21;
  margin: 40px
}

h1 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #becce8;
  letter-spacing: 3px;
}

a {
  display: block;
  margin: 18px 0;
  text-decoration: none;
  color: #becce8 ;
  transition: opacity .25s ease, letter-spacing .25s ease;
}

a:hover {
  opacity: 0.6;
  letter-spacing: 7px;
}
